/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

.index {
  width: 850px;
  margin: auto;
  margin-top: 50px
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

h1, h2 {
  text-align: center;
}

.search-box-container {
  margin-bottom: 10px;
  text-align: -webkit-center;
  text-align: center;
  position: relative;
  width: 422px;
  margin: auto;
}
 
.search-box-text {
  background-color: transparent;
  padding: 10px;
  width: 90%;
  max-width: 400px;
  border: 1px solid #dedede;
  border-radius: 40px;
  color: #dedede;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
}

.search-box-text:focus {
    border-color: #ff6200;
    outline: none;
  }

.random-text {
  color: #868686;
}

h3 {
  margin: 10px 0px;
}

.result-list {
  width: 800px;
  margin: auto;
}

.a-result {
  text-decoration: none;
}

.result {
  cursor: pointer;
  color: #333;
  text-decoration: none;
  width: 100%;
  max-width: 800px;
  min-height: 100px;
  margin: 0;
  display: block;
  background-color: #f4f4f4;
  padding: 10px 20px 10px;
  margin-bottom: 5px;
  text-align: left;

  border-left: 3px solid #717171;
  border-right: 3px solid #717171;

  transition: .1s ease-out all;

}

.autocomplete__result {
    position: absolute;
    width: 350px;
    left: 35px;
    background: #707070;
    box-shadow: 2px 1px 4px 1px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    border-bottom: 0px; 
    border-top: 0px;
    z-index: 1;
}

.autocomplete__result ul {
    width: 100%;
    padding: 0;
    margin: 0;
    max-height: 203px;
    overflow: auto;
}

.autocomplete__result li {
    padding: 5px;
    list-style: none;
    border-bottom: 1px solid;
    cursor: pointer;
}

.autocomplete__result li.active {
    background: #909090;
}

.autocomplete__result li:hover {
   background: #5d5d5d;
}

.hide {
    display: none!important;
}

.result h3 {
  font-size: 1rem;
}

.result p {
  font-size: 0.8rem;
  color:#006621;
  margin: 5px 0px;
}

.result:hover {
  color: #333;
  border-color: #ff6200;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
  height: 2.4em;

  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.stacked {
  position: relative;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.image {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 0%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin-right: 20px;
}